{% extends "base.html.j2" %}

{% block title %}Uploader - Dashboard{% endblock %}

{% block content %}

<header>
	<p><span>{{ username }}</span> (ID: <span>{{ id }}</span>)</p>
	{% if admin == 1 %}
	<a href="/users">Users</a>
	{% endif %}
	<a href='/logout'>Logout</a>
</header>

<hr>

<p>
	<u>Upload files:</u>
</p>
<form id='form' action='/upload' method='post' enctype='multipart/form-data'>
	<input type='file' id='file' name='file' multiple>
	<button id='upload'>Upload files</button>
</form>

{% if files %}
<hr>

<p>
	<u>Files:</u>
</p>
<div id='files'>
	{% for file in files %}
	<div class="file">
		<a href='{{ file.url }}'>{{ file.filename }}</a>
		<div class="actions">
			<button onclick="copyToClipboard('{{ file.url }}')">
				{% include 'svg/copy.svg' %}
			</button>
			<a href='/delete/{{ file.filename }}'>
				{% include 'svg/trash.svg' %}
			</a>
		</div>
	</div>
	{% endfor %}
</div>
<script>
	function copyToClipboard(filename) {
		const text = window.location.origin + filename;
		const el = document.createElement('textarea');
		el.value = text;
		document.body.appendChild(el);
		el.select();
		document.execCommand('copy');
		document.body.removeChild(el);
	}
</script>
{% endif %}

{% endblock %}
