{% extends "base.html.j2" %}

{% block title %}Uploader - Login{% endblock %}

{% block content %}

<style>
	{% include '/css/form.css' %}
</style>

<p>
	<u>Login</u>
</p>
<form action='/login' method='post'>
	<input type='text' name='username' placeholder='Username' required>
	<input type='password' name='password' placeholder='Password' required>
	<button type='submit'>Login</button>
</form>
{% if message %}
<hr>
<p>{{ message }}</p>
{% endif %}
{% endblock %}
