{% extends "base.html.j2" %}

{% block title %}Uploader - Users{% endblock %}

{% block content %}

<style>
	{% include '/css/form.css' %}
	{% include '/css/users.css' %}
</style>

<header>
	<p><span>{{ username }}</span> (ID: <span>{{ id }}</span>)</p>
	<a href="/dashboard">Upload</a>
	<a href='/logout'>Logout</a>
</header>

<hr>

<p>
	<u>Create new user:</u>
</p>
<form action='/create_user' method='post'>
	<input type='text' name='username' placeholder='Username' required>
	<input type='password' name='password' placeholder='Password' required>
	<button type='submit'>Create user</button>
</form>

<hr>

<p>
	<u>Users:</u>
</p>
{% for user in users %}
<div id="users">
	<div class="user">
		<p>
			<span>{{ user.username }}</span>
			(ID: <span>{{ user.id }}</span>)
			(Size: <span>{{ user.size }}</span>)
			{% if user.admin == 1 %}
			<span>Admin</span>
			{% endif %}
		</p>
	</div>
</div>
{% endfor %}

{% endblock %}
